.day-info {
  align-items: center;
  background-color: #eee6d3;
  display: flex;
  flex-wrap: wrap;
  font-size: 0.85em;
  gap: 2em;
  justify-content: center;
  padding: 1em;
}
.weather-icon {
  width: 50px;
}
