.filter-menu {
  display: grid;
  grid-template-columns: repeat(3, minmax(min-content, max-content));
  justify-content: flex-end;
  gap: 1em;
  margin: 2em;
}

@media screen and (max-width: 400px) {
  .filter-menu {
    grid-template-columns: max-content;
    justify-content: center;
  }
}
