.item-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.item-card-image {
  background-color: #fff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.item-card-caption {
  background-color: #9cd2df;
  text-align: center;
  white-space: nowrap;
  padding: 1em 0.5em;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
