figure {
  display: flex;
  flex-direction: column;
  border: solid 1px grey;
}

img {
  background-color: #fff;
}

figcaption {
  background-color: #8cd9ea;
  text-align: center;
  white-space: nowrap;
  padding: 1em;
}
