.item-card {
  display: flex;
  flex-direction: column;
  border: solid 1px grey;
}

.item-card img {
  background-color: #fff;
}

.item-card figcaption {
  background-color: #9cd2df;
  text-align: center;
  white-space: nowrap;
  padding: 1em;
}
