.main {
  margin: 2em;
  display: grid;
  grid-template-columns: max-content 2fr;
  grid-template-rows: max-content;
  gap: 2em;
}
.nav {
  grid-column: 1/2;
  grid-row: 1;
}
.item-cards-container {
  grid-column: 2/3;
  grid-row: 1;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(128px, 1fr));
  gap: 0.5em;
}
