.app {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content max-content 2fr;
  gap: 1em;
  background-color: #e9f4eb;
  min-height: 100vh;
}
.header {
  grid-row: 1;
}
.nav {
  grid-row: 2;
  justify-self: center;
}
.page {
  margin: 1em;
  grid-row: 3;
}
