.app {
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-template-rows: repeat(3, max-content);
  gap: 1em;
}
.header {
  grid-column: 1/3;
  grid-row: 1;
}
.nav {
  margin: 1em;
  grid-column: 1/2;
  grid-row: 2;
}
.page {
  margin: 1em;
  grid-column: 2/3;
  grid-row: 2;
}
