.item-cards-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 200px));
  gap: 2em;
  justify-content: center;
}
.item-card-link {
  color: inherit;
  text-decoration: none;
}
