.header {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  background-color: #a8d8a8;
  padding: 1em;
}
.header-text {
  text-align: center;
  text-decoration: none;
  color: #6b5c43;
}
.sub-header {
  display: flex;
  gap: 0.5em;
  justify-content: space-around;
  align-items: center;
}
.weather-icon {
  width: 4rem;
}
