.header {
  display: flex;
  gap: 0.5em;
  padding: 2em 4em 1em 4em;
  justify-content: space-between;
  background-color: #a8d8a8;
}
.header-text {
  text-align: center;
  text-decoration: none;
  color: #6b5c43;
  font-size: 1.75rem;
}
.sub-header {
  display: flex;
  gap: 0.5em;
  justify-content: space-around;
  align-items: center;
}
.weather-icon {
  width: 4rem;
}
