.individual-sea-creature-page {
  display: flex;
  flex-direction: column;
  height: 80vh;
  align-items: center;
  overflow-y: scroll;
  padding: 0 2em 1em 2em;
  width: 100%;
}
.individual-sea-creature-page__figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  justify-content: center;
  border-radius: 10px;
  width: 200px;
  min-height: 200px;
}
.individual-sea-creature-page_image {
  width: 128px;
  height: 128px;
}
.individual-sea-creature-page__heading {
  padding-top: 0.5em;
}
.individual-sea-creature-page__list {
  padding: 1em;
  text-align: center;
}
.individual-sea-creature-page__list-item {
  padding-bottom: 0.5em;
}
.individual-sea-creature-page__paragraph {
  line-height: 1.5;
  max-width: 50ch;
  padding-left: 1em;
}
