.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}
.item-cards {
  display: flex;
  gap: 2em;
  font-weight: 600;
  font-size: 1.25rem;
}
.text-block {
  justify-self: center;
}
