.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  background-color: #e9f4eb;
  padding-bottom: 3em;
  min-height: 100vh;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.item-cards {
  display: flex;
  gap: 2em;
  font-size: 1.25rem;
}
.text-block {
  justify-self: center;
}
