.link {
  list-style: none;
  width: 75px;
  height: 75px;
}
.link:hover {
  border-bottom: solid 3px #6b5c43;
}
.nav {
  display: flex;
  gap: 2em;
  padding: 1em;
  justify-content: center;
  background-color: #eee8aa;
  height: 20vh;
}
.active {
  border-bottom: solid 3px #6b5c43;
}
