.nav {
  display: flex;
  margin: 0 4em;
}
.link {
  text-decoration: none;
  padding: 1em;
  text-align: center;
  color: #2d6895;
  background-color: #fff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-left: 1px solid #fddf6e;
  border-top: 8px solid #fddf6e;
  width: 25%;
}
.link:hover {
  background-color: #cde2e8;
}

.active {
  border-top: 8px solid #2d6895;
  background-color: #e9f4eb;
}
.active:hover {
  background-color: #e9f4eb;
}
